# .dockerignore
# Binaries and local build outputs
bin/
cover.out
*.test

# Git & IDE configs
.git/
.gitignore
.idea/
.vscode/

# Local testing and manifests
infrastructure-components.yaml
remove.sh
smart_remove.sh
examples/
test/
